<section class="info-container">

  <div class="section-header">
    <h2>NUESTRO <span class="highlight">ADN</span></h2>
    <p>EXCELENCIA TÉCNICA Y VALORES OLÍMPICOS</p>
  </div>

  <div class="cards-grid">

    <div class="card">
      <div class="card-content">
        <div class="icon-box">
          <i class="bi bi-people-fill"></i>
        </div>
        <h3>NUESTRO EQUIPO</h3>
        <p>Formación de atletas desde la base hasta el alto rendimiento nacional.</p>

        <a (click)="seleccionarGaleria('equipo')" class="card-link pointer">
          Conoce al equipo <i class="bi bi-arrow-right-short"></i>
        </a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="icon-box">
          <i class="bi bi-geo-alt-fill"></i>
        </div>
        <h3>VER NUESTRAS INSTALACIONES</h3>
        <p>Centro equipado con tapices oficiales y zona de gimnasio.</p>

        <a (click)="seleccionarGaleria('instalaciones')" class="card-link pointer">
          Ver Centro <i class="bi bi-arrow-right-short"></i>
        </a>
      </div>
    </div>

  </div>
</section>
