<div class="login-container">
    <div class="login-card">

        <div class="icon-header">
            <i class="bi bi-person-circle"></i>
        </div>

        <h2>Acceso al Club</h2>
        <p class="subtitle">Introduce tus credenciales</p>

        <form (ngSubmit)="loguearse()">

            <div class="form-group">
                <label>Correo Electrónico</label>
                <div class="input-wrapper">
                    <i class="bi bi-envelope"></i>
                    <input type="email" name="email" [(ngModel)]="credenciales.email" placeholder="ejemplo@club.com" required>
                </div>
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <div class="input-wrapper">
                    <i class="bi bi-lock"></i>
                    <input type="password" name="password" [(ngModel)]="credenciales.password" placeholder="••••••" required>
                </div>
            </div>

            <div *ngIf="mensajeError" class="alert-error">
                <i class="bi bi-exclamation-triangle-fill"></i> {{ mensajeError }}
            </div>

            <button type="submit" class="btn-login">
                ENTRAR <i class="bi bi-box-arrow-in-right"></i>
            </button>

        </form>
    </div>
</div>
