<header class="hero-container">

  <div class="hero-bg">
    <img src="videos/suplex.gif" alt="Fondo Lucha" class="bg-media">
  </div>

  <div class="overlay"></div>

  <div class="hero-content">
    <div class="glass-card">
      <h1>CLUB DE LUCHA <br> <span class="highlight">QUART DE POBLET</span></h1>

      <p>
        Disciplina, respeto y superación. <br>
        Formando campeones dentro y fuera del tapiz.
      </p>

      <div class="cta-group">
        <button class="btn-primary" routerLink="/" fragment="contacto">¡Ven a Probar!</button>
        <button class="btn-secondary" routerLink="/" fragment="horarios">Ver Horarios</button>
      </div>
    </div>
  </div>

</header>
