<footer class="footer">
  <div class="footer-content">

    <div class="footer-col branding">
      <h2 class="footer-logo"> WRESTLING QUART DE POBLET</h2>
      <p>Formando atletas y personas a través de los valores de la lucha olímpica desde 2010.</p>
      <p class="slogan">DISCIPLINA • RESPETO • SUPERACIÓN</p>
    </div>

    <div class="footer-col links">
      <h3>NAVEGACIÓN</h3>
      <ul>
        <li><a routerLink="/" fragment="inicio">Inicio</a></li>
        <li><a routerLink="/" fragment="club">El Club</a></li>
        <li><a routerLink="/" fragment="horarios">Horarios</a></li>
        <li><a routerLink="/login">Acceso Atletas</a></li>
      </ul>
    </div>

    <div class="footer-col legal">
      <h3>CONTACTO</h3>
      <ul>
        <li><i class="bi bi-geo-alt"></i> Quart de Poblet, Valencia</li>
        <li><i class="bi bi-envelope"></i> info@clublucha.com</li>
      </ul>
      <div class="footer-socials">
        <a href="https://www.instagram.com/club_lucha_quart/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://es-es.facebook.com/people/Club-De-Lucha-Quart-De-Poblet/100049182685794/#"  target="_blank"><i class="bi bi-facebook"></i></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Club de Lucha Quart de Poblet. Todos los derechos reservados.</p>
  </div>
</footer>
